/**
 * WooCommerce CSS Variables
 */

@import '../../../scss/up/_functions';
@import '../../../scss/bootstrap';

$woocommerce:       up-colors('fourth');
$green:         	#7ad03a;
$red:           	#a00;
$orange:        	#ffba00;
$blue:          	#2ea2cc;

$primary:           up-colors('third'); // Primary color for buttons (alt)
$primarytext:       white; // Text on primary color bg

$secondary:         up-colors('fourth'); // Secondary buttons
$secondarytext:     $primarytext; // Text on secondary color bg

$highlight:         up-colors('fourth'); // Prices, In stock labels, sales flash
$highlightext:      $primarytext;  // Text on highlight color bg

$contentbg:         #fff; // Content BG - Tabs (active state)
$subtext:           #777; // small, breadcrumbs etc