//variáveis globais para todos componentes e bibliotecas 
@import "up/vars";
@import "bootstrap";
@import "up/functions";
@import "up/main";
@import "fa/fa";
@import "slick";
@import "bsnav/bsnav";

/* body */
/* ----------------------------------------- */
  .h-page {
    min-height: 240px;
    background-color: up-colors('fir');
    color: up-colors('sec');

    h2 {
      margin: 0;
    }
  }

  .btn {
    &--classic {
      cursor: pointer;
      background-color: up-colors('sec');
      color: white;
      line-height: 30px;
      @include font(18px);
      @include radius(0);

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  ul {
    &.social-networks {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      border: none;

      li {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 5px;
        @include transition(all 300ms ease-in-out);

        &:first-child,
        &:last-child { border: none; }

        &:first-child { padding-left: 0; }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          border: none;
          color: up-colors('txt');

          svg { @include font(14px) }
        }

        &:hover { a { color: white; } }
      }
    }

    &.phones {
      li {
        a {
          color: up-colors('fou');
          letter-spacing: -0.42px;
          line-height: 26px;
          @include font(16px);

          @include media-breakpoint-up(md) {
            letter-spacing: -0.61px;
            line-height: 42px;
            @include font(22px);
          } // Large devices (desktops, 768px and up)
        }
      }
    }
  }

  form {
    &#search-box {
      border: none;
      @include radius(0);

      input {
        border: none;
        background-color: transparent;
        padding: 10px 0;
        box-shadow: none;
        color: up-colors('fou');
        font-family: up-fonts('fir');
        line-height: 30px;
        @include font(18px);
        @include radius(0);

        &::placeholder {
          color: #B9B9B9;
        }
      }

      button {
        border: none;
        cursor: pointer;
        color: up-colors('sec');
        @include radius(0);

        &:hover { background-color: transparent; }
      }
    }
  }

  .title {
    &--section {
      position: relative;
      font-family: up-fonts('fir');
      color: up-colors('fou');
      text-align: right;
      margin: 5px 0;
      @include font(24px);

      @include media-breakpoint-up(md) {} // Large devices (desktops, 768px and up)
    }

    &--small {
      color: up-colors('fir');
      line-height: 22px;
      @include font(15px);

      @include media-breakpoint-up(md) {} // Large devices (desktops, 768px and up)
    }

    &--widget {
      font-family: up-fonts('fir');
      color: up-colors('sec');
      margin: 0 0 10px;
      @include font(18px);
    }
  }

  .slick-arrow {
    background-color: transparent;
    border: 2px solid white;
    @include radius(50%);

    &:focus,
    &:hover {
      background-color: white;
      &::before { color: up-colors('sec'); }
    }

    &.slick-prev { left: 100px; }
    &.slick-next { right: 100px; }

    &:before { opacity: 1; }
  }
/* ----------------------------------------- body */

/* header */
/* ----------------------------------------- */
  header {}
/* ----------------------------------------- header */

/* slideshow */
/* ----------------------------------------- */
  #slideshow {
    position: relative;
    z-index: 5;
    max-width: 1920px;
    margin: 0 auto;

    ul.slick-dots {
      bottom: 30px;

      li {
        button {
          border: 2px solid white;
          background-color: transparent;
          width: 10px;
          height: 10px;
          @include radius(50%);
          @include transition(all 300ms ease-in-out);

          &::before { display: none; }
        }

        &:hover,
        &.slick-active {
          button {
            border-color: black;
          }
        }
      }
    }

    .slick-arrow {  
      &.slick-prev {
        left: 20px;
        @include media-breakpoint-up(md) { left: 100px; }
      }
      &.slick-next {
        right: 20px;
        @include media-breakpoint-up(md) { right: 100px; }
      }

      &:before { opacity: 1; }
    }
  }
/* ----------------------------------------- slideshow */

/* content */
/* ----------------------------------------- */
  main#content {
    article.page {
      &.index {}
      &.single {}
    }

    section {}

    aside#sidebar {
      .widget {
        margin: 0 0 30px;

        #search-box {
          display: flex;
          align-items: center;
          justify-content: space-between;

          input {
            width: calc(100% - 50px);
            border-bottom: 1px solid rgba(up-colors('thi'), .35);
            @include font(14px);
          }

          button {
            width: 40px;
            background-color: up-colors('thi');
            color: white;
          }
        }

        ul {
          padding: 0 0 0 20px;
          list-style: none;

          li {
            display: flex;
            align-items: center;
            padding-left: 1.3em;
            margin: 0 0 10px;
            padding: 0 0 10px;
            border-bottom: 1px solid rgba(up-colors('thi'), .35);
            @include transition(all 150ms ease-in-out);
            
            &::before {
              content: "\f111";
              font-family: 'Font Awesome 5 Pro';
              display: inline-block;
              margin-left: -1.3em;
              width: 1.3em;
              @include font(10px);
            }

            a {
              display: flex;
              padding-left: 10px;
              color: up-colors('txt');
              line-height: 18px;
              @include font(15px);
            }

            &:hover {
              border-bottom: 1px solid rgba(up-colors('thi'), 1)
            }
          }
        }
      }
    }
  }
/* ----------------------------------------- content */

/* footer */
/* ----------------------------------------- */
  footer {
    &#footer {
      background: url(../images/bg-footer.png) no-repeat center bottom;
      padding: 100px 0;

      .logotipo {
        img {
          max-width: 75%;
          @include media-breakpoint-up(md) { max-width: 100%; }
        }
      }
    }
  }
/* ----------------------------------------- footer */