/* variables */
/* ----------------------------------------- */
/* ----------------------------------------- variables */
/* Functions */
/* ----------------------------------------- */
/* ----------------------------------------- Functions */
body.login {
  background-color: theme-color("primary"); }
  body.login h1 a {
    width: 320px !important;
    height: 93px !important;
    margin: 80px auto 5px; }
  body.login #loginform {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    box-shadow: none; }
    body.login #loginform label {
      color: black;
      font-weight: 500; }
    body.login #loginform #wp-submit {
      border: none;
      background: theme-color("primary") !important;
      box-shadow: none;
      padding: 0 20px;
      text-shadow: none; }
  body.login #nav, body.login #backtoblog {
    color: white !important;
    text-align: center;
    padding-left: 0; }
    body.login #nav a, body.login #backtoblog a {
      color: white !important;
      text-decoration: none;
      text-shadow: none; }
      body.login #nav a:hover, body.login #backtoblog a:hover {
        color: white !important;
        text-decoration: underline; }
  body.login .button.button-primary {
    background-color: theme-color("primary"); }
