.acf-postbox.seamless > .inside { margin: 0 !important; }

/* dividir repeater em blocos */
/* ----------------------------------------- */
#bloco-col-2 .acf-table > tbody, #bloco-col-3 .acf-table > tbody, #bloco-col-4 .acf-table > tbody, #bloco-col-5 .acf-table > tbody, #bloco-col-6 .acf-table > tbody { display: flex; flex-wrap: wrap; }

#bloco-col-2 .acf-table > tbody > tr { float: left; width: 50%; }

#bloco-col-2 .acf-repeater .acf-row-handle.order + td { width: 96%; }

#bloco-col-3 .acf-table > tbody > tr { float: left; width: 33.3333%; }

#bloco-col-3 .acf-repeater .acf-row-handle.order + td { width: 96%; }

#bloco-col-4 .acf-table > tbody > tr { float: left; width: 25%; }

#bloco-col-4 .acf-repeater .acf-row-handle.order + td { width: 96%; }

/* ----------------------------------------- dividir repeater em blocos */
