@charset "UTF-8";
.btn-classic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "";
  max-width: 150px;
  margin: 10px 0 0;
  padding: 15px 0;
  color: white;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 14px;
  font-size: 0.875rem; }
  .btn-classic:focus {
    outline: none; }
  .btn-classic:hover {
    background-color: transparent;
    color: transparent; }
  .btn-classic.woo {
    max-width: 180px;
    font-size: 24px;
    font-size: 1.5rem; }
    .btn-classic.woo:hover {
      background-color: transparent;
      color: white; }
  .btn-classic.gradient {
    background: linear-gradient(to right, transparent, transparent); }
    .btn-classic.gradient:hover {
      background: linear-gradient(to right, transparent, transparent);
      color: white; }
  .btn-classic.gray {
    background-color: #EBEBEB;
    border-color: #EBEBEB;
    color: #9B9B9B;
    font-size: 14px;
    font-size: 0.875rem; }
    .btn-classic.gray:hover {
      background-color: #9B9B9B;
      border-color: #9B9B9B;
      color: white; }
  .btn-classic.center {
    margin: 0 auto; }
  .btn-classic.rounded {
    text-transform: uppercase;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    border-radius: 30px !important; }

.b-contact {
  display: flex;
  align-items: center;
  margin: 0 15px 0 0; }
  .b-contact figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    margin: 0 10px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: transparent;
    box-shadow: 5px 4px 22px -3px rgba(200, 200, 200, 0.24);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .b-contact .txt p,
  .b-contact .txt a {
    margin: 0; }
  .b-contact .txt p {
    color: transparent;
    font-size: 12px;
    font-size: 0.75rem; }
  .b-contact .txt a {
    font-family: "";
    color: transparent;
    font-size: 18px;
    font-size: 1.125rem; }
  .b-contact.widget {
    margin: 0 0 15px; }
    .b-contact.widget .txt p {
      color: transparent;
      font-size: 14px;
      font-size: 0.875rem; }

ul.social-networks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  border-left: 1px solid rgba(151, 151, 151, 0.5);
  border-right: 1px solid rgba(151, 151, 151, 0.5); }
  ul.social-networks li {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 11px;
    border-left: 1px solid rgba(151, 151, 151, 0.5);
    border-right: 1px solid rgba(151, 151, 151, 0.5);
    transition: all 300ms ease-in-out; }
    ul.social-networks li:first-child, ul.social-networks li:last-child {
      border: none; }
    ul.social-networks li a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: none;
      color: transparent; }
      ul.social-networks li a svg {
        font-size: 13px;
        font-size: 0.8125rem; }
    ul.social-networks li:hover {
      background-color: rgba(151, 151, 151, 0.5); }
      ul.social-networks li:hover a {
        color: white; }

ul.visitor {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 12px 0; }
  ul.visitor li {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0; }
    ul.visitor li:first-child {
      border-right: 2px solid #9B9B9B;
      padding-right: 10px; }
    ul.visitor li a {
      color: #9B9B9B;
      font-family: "";
      font-size: 13px;
      font-size: 0.8125rem; }
      ul.visitor li a:hover {
        color: transparent; }
    ul.visitor li:last-child {
      margin: 0; }

ul.delivery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.delivery li {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 40px;
    background-color: rgba(241, 241, 241, 0.5); }
    ul.delivery li h3 {
      font-family: "";
      margin: 10px 0 20px;
      font-size: 36px;
      font-size: 2.25rem; }
    ul.delivery li p {
      color: rgba(0, 0, 0, 0.55);
      min-height: 55px;
      font-size: 18px;
      font-size: 1.125rem; }

form#search-box {
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }
  form#search-box input {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    box-shadow: none;
    color: #B9B9B9;
    font-family: "";
    font-size: 15px;
    font-size: 0.9375rem;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px; }
    form#search-box input::placeholder {
      color: #B9B9B9; }
  form#search-box button {
    border: none;
    cursor: pointer;
    color: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px; }
    form#search-box button:hover {
      background-color: transparent; }

.t-section {
  font-family: "";
  margin: 5px 0;
  color: transparent;
  text-align: center;
  font-size: 36px;
  font-size: 2.25rem; }

.s-section {
  text-align: center;
  color: transparent;
  margin: 0;
  font-size: 18px;
  font-size: 1.125rem; }

.title-widget {
  font-family: "";
  color: transparent;
  margin: 0 0 10px;
  font-size: 18px;
  font-size: 1.125rem; }

.wpcf7 span.wpcf7-not-valid-tip {
  display: none; }

.wpcf7 div.wpcf7-validation-errors {
  display: block;
  width: calc(100% - 30px);
  margin-left: 15px;
  padding: 10px;
  border-color: red !important;
  text-align: center;
  font-family: "";
  background-color: red;
  border-color: red;
  color: white;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem; }

.wpcf7 label {
  font-family: "";
  color: #4A4A4A;
  margin: 0;
  font-size: 16px;
  font-size: 1rem; }

.wpcf7 input,
.wpcf7 textarea {
  width: 100%;
  padding: 12px 10px;
  margin: 0 0 15px;
  font-family: "";
  letter-spacing: 0;
  line-height: 15px;
  color: transparent;
  outline: none;
  border: 1px solid rgba(151, 151, 151, 0.23);
  background-color: rgba(216, 216, 216, 0.15);
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .wpcf7 input.placeholder,
  .wpcf7 textarea.placeholder {
    font-family: "";
    letter-spacing: 0;
    line-height: 15px;
    color: transparent; }
  .wpcf7 input:-moz-placeholder,
  .wpcf7 textarea:-moz-placeholder {
    font-family: "";
    letter-spacing: 0;
    line-height: 15px;
    color: transparent; }
  .wpcf7 input::-moz-placeholder,
  .wpcf7 textarea::-moz-placeholder {
    font-family: "";
    letter-spacing: 0;
    line-height: 15px;
    color: transparent; }
  .wpcf7 input::-webkit-input-placeholder,
  .wpcf7 textarea::-webkit-input-placeholder {
    font-family: "";
    letter-spacing: 0;
    line-height: 15px;
    color: transparent; }
  .wpcf7 input.wpcf7-not-valid,
  .wpcf7 textarea.wpcf7-not-valid {
    border-color: red; }
  .wpcf7 input:focus,
  .wpcf7 textarea:focus {
    outline: none;
    border-color: rgba(29, 29, 27, 0.31);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.wpcf7 button {
  display: flex;
  justify-content: flex-end;
  font-family: "";
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
  float: right;
  width: auto;
  padding: 15px 55px;
  position: relative;
  border: none;
  background: linear-gradient(to right, transparent, transparent);
  color: white;
  z-index: 10;
  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  transition: all 300ms ease-in-out; }
  .wpcf7 button::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, transparent, transparent);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0; }
  .wpcf7 button:hover::before {
    opacity: 1; }

.wpcf7 .wpcf7-checkbox,
.wpcf7 .wpcf7-radio {
  display: flex;
  margin: 0; }
  .wpcf7 .wpcf7-checkbox .wpcf7-list-item,
  .wpcf7 .wpcf7-radio .wpcf7-list-item {
    margin: 0 10px 0 0; }
    .wpcf7 .wpcf7-checkbox .wpcf7-list-item label,
    .wpcf7 .wpcf7-radio .wpcf7-list-item label {
      display: inline-flex; }
      .wpcf7 .wpcf7-checkbox .wpcf7-list-item label input[type=checkbox],
      .wpcf7 .wpcf7-checkbox .wpcf7-list-item label input[type=radio],
      .wpcf7 .wpcf7-radio .wpcf7-list-item label input[type=checkbox],
      .wpcf7 .wpcf7-radio .wpcf7-list-item label input[type=radio] {
        opacity: 0;
        width: auto;
        margin: 0 10px 0 0; }
        .wpcf7 .wpcf7-checkbox .wpcf7-list-item label input[type=checkbox]:checked + .wpcf7-list-item-label::before,
        .wpcf7 .wpcf7-checkbox .wpcf7-list-item label input[type=radio]:checked + .wpcf7-list-item-label::before,
        .wpcf7 .wpcf7-radio .wpcf7-list-item label input[type=checkbox]:checked + .wpcf7-list-item-label::before,
        .wpcf7 .wpcf7-radio .wpcf7-list-item label input[type=radio]:checked + .wpcf7-list-item-label::before {
          content: "\f0c8";
          color: transparent;
          font-size: 12px;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          line-height: 14px;
          text-decoration: inherit;
          text-align: center; }
      .wpcf7 .wpcf7-checkbox .wpcf7-list-item label .wpcf7-list-item-label,
      .wpcf7 .wpcf7-radio .wpcf7-list-item label .wpcf7-list-item-label {
        display: inline-block;
        font-family: "";
        font-weight: normal;
        left: 0px;
        line-height: 14px;
        margin: 0 0 15px;
        position: relative;
        font-size: 14px;
        font-size: 0.875rem; }
        .wpcf7 .wpcf7-checkbox .wpcf7-list-item label .wpcf7-list-item-label::before,
        .wpcf7 .wpcf7-radio .wpcf7-list-item label .wpcf7-list-item-label::before {
          background: white;
          border: 1px solid transparent;
          border-radius: 3px;
          content: "";
          height: 15px;
          left: -24px;
          position: absolute;
          width: 15px; }
        .wpcf7 .wpcf7-checkbox .wpcf7-list-item label .wpcf7-list-item-label:hover,
        .wpcf7 .wpcf7-radio .wpcf7-list-item label .wpcf7-list-item-label:hover {
          cursor: pointer; }

.wpcf7 .radio .wpcf7-list-item-label::before {
  border-radius: 100%; }

.select-box {
  background-color: white;
  margin: 0;
  margin-bottom: 1em;
  position: relative;
  border: 1px solid transparent;
  z-index: 2;
  width: 100%; }
  .select-box select {
    font-family: "";
    color: transparent;
    line-height: 20px;
    position: relative;
    z-index: 2;
    width: 100%;
    background: transparent;
    display: inline-block;
    padding: 10px;
    padding-right: 30px;
    border: none;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    font-weight: 300; }
    .select-box select:focus {
      outline: none; }
    .select-box select:hover {
      cursor: pointer; }
  .select-box::after {
    content: "ï„‡";
    font-family: "FontAwesome";
    position: absolute;
    right: 8px;
    top: 50%;
    color: transparent;
    z-index: 1;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 10%; }

.preloader .line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 1px;
  height: 25px; }
  .preloader .line:nth-child(1) {
    background: transparent; }
  .preloader .line:nth-child(2) {
    animation-delay: 180ms;
    background: transparent; }
  .preloader .line:nth-child(3) {
    animation-delay: 360ms;
    background: transparent; }
  .preloader .line:nth-child(4) {
    animation-delay: 540ms;
    background: transparent; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 0; }
  .gallery figure {
    flex: 0 0 23%;
    max-width: 23%;
    margin: 0 2% 20px;
    cursor: pointer; }
    .gallery figure:first-child, .gallery figure:nth-child(4n), .gallery figure:nth-child(4n + 1) {
      margin: 0; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

iframe {
  max-width: 100%; }

#fb-root {
  display: none; }

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important; }

.fb-like-box,
.fb-like-box span,
.fb-like-box span iframe[style] {
  width: 100% !important; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
a, ul, ul li, input, textarea, span, p, label {
  font-family: "";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  h1::selection, h1::-moz-selection, h1::-webkit-selection, h2::selection, h2::-moz-selection, h2::-webkit-selection, h3::selection, h3::-moz-selection, h3::-webkit-selection, h4::selection, h4::-moz-selection, h4::-webkit-selection, h5::selection, h5::-moz-selection, h5::-webkit-selection, h6::selection, h6::-moz-selection, h6::-webkit-selection,
  .h1::selection,
  .h1::-moz-selection,
  .h1::-webkit-selection, .h2::selection, .h2::-moz-selection, .h2::-webkit-selection, .h3::selection, .h3::-moz-selection, .h3::-webkit-selection, .h4::selection, .h4::-moz-selection, .h4::-webkit-selection, .h5::selection, .h5::-moz-selection, .h5::-webkit-selection, .h6::selection, .h6::-moz-selection, .h6::-webkit-selection,
  a::selection,
  a::-moz-selection,
  a::-webkit-selection, ul::selection, ul::-moz-selection, ul::-webkit-selection, ul li::selection, ul li::-moz-selection, ul li::-webkit-selection, input::selection, input::-moz-selection, input::-webkit-selection, textarea::selection, textarea::-moz-selection, textarea::-webkit-selection, span::selection, span::-moz-selection, span::-webkit-selection, p::selection, p::-moz-selection, p::-webkit-selection, label::selection, label::-moz-selection, label::-webkit-selection {
    background-color: transparent;
    color: white; }

a,
img,
input,
button {
  transition: all 150ms ease-in-out;
  text-decoration: none !important; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto; }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.acf-map {
  height: 400px; }
  .acf-map img {
    max-width: inherit !important; }

.wp-pagenavi {
  margin-top: 40px; }
  .wp-pagenavi a, .wp-pagenavi span {
    border: 0 !important;
    border-bottom: 1px solid #BFBFBF !important; }

.alignleft,
img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.alignright,
img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.hentry img {
  max-width: 100%;
  height: auto; }

.hentry a {
  color: transparent; }
  .hentry a:hover {
    text-decoration: underline; }

.hentry .entry-content img {
  margin: 0 0 1.5em 0; }

.hentry .wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px; }
  .hentry .wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0; }
  .hentry .wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 10px;
    margin: 0; }

.hentry .wp-smiley {
  margin: 0 !important;
  max-height: 1em; }

.hentry blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left; }

.hentry blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right; }

/* header */
/* ----------------------------------------- */
header#header nav.navbar {
  position: relative;
  margin: 0;
  padding: 0; }
  header#header nav.navbar button {
    border: 3px solid transparent;
    padding: 5px;
    width: 45px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    header#header nav.navbar button:focus {
      outline: none; }
    header#header nav.navbar button span {
      width: 75%;
      top: 4px;
      background-color: transparent; }
      header#header nav.navbar button span::after, header#header nav.navbar button span::before {
        background-color: transparent; }
    header#header nav.navbar button.active span {
      background-color: transparent; }
  header#header nav.navbar .navbar-collapse {
    width: 100%; }
    header#header nav.navbar .navbar-collapse ul li a {
      display: flex;
      align-items: center;
      padding: 20px;
      font-family: "";
      color: transparent;
      text-transform: uppercase;
      font-size: 16px;
      font-size: 1rem;
      font-weight: 700; }
      header#header nav.navbar .navbar-collapse ul li a .caret {
        border-top-color: transparent; }
    header#header nav.navbar .navbar-collapse ul li ul.navbar-nav {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
      header#header nav.navbar .navbar-collapse ul li ul.navbar-nav li a .caret {
        border-top-color: transparent;
        border-left-color: transparent; }

/* ----------------------------------------- header */
/* slideshow */
/* ----------------------------------------- */
#slideshow .banner-mask {
  display: flex;
  align-items: center;
  min-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  #slideshow .banner-mask > .container {
    display: flex;
    flex-direction: column;
    align-items: center; }

/* ----------------------------------------- slideshow */
/* content */
/* ----------------------------------------- */
/* ----------------------------------------- content */
/* footer */
/* ----------------------------------------- */
/* ----------------------------------------- footer */
