/**
 * Global Config
*/

/**
 * fonts
 **/
$up-fonts: (
  first: 'Roboto',
  second: 'Arial'
) !default;


/**
 * colors
 **/
$up-colors: (
  first: black,
  second: white,
  third: transparent,
  fourth: transparent,
  fifth: transparent,
  six: transparent,
  sev: transparent,
  txt: black
) !default;
