$up-fonts: (
  fir: 'Roboto',
  sec: 'Arial'
) !default;

$up-colors: (
  fir: black,
  sec: white,
  thi: transparent,
  fou: transparent,
  fif: transparent,
  six: transparent,
  sev: transparent,
  txt: black
) !default;
