/**
 * Message / Alerts
 */
 .woocommerce-message,
 .woocommerce-error,
 .woocommerce-info {
   padding: 1em 2em 1em 3.5em;
   margin: 0 0 2em;
   position: relative;
   background-color: lighten($primary, 5%);
   color: $primarytext;
   border-top: 3px solid $primary;
   list-style: none outside;
   @include clearfix();
   width: auto;
   word-wrap: break-word;
   &::before {
     font-family: 'WooCommerce';
     content: '\e028';
     display: inline-block;
     position: absolute;
     top: 1em;
     left: 1.5em;
   }
 
   .button {
     float: right;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 29%;
     background: rgba(231, 194, 194,0.9);
   }
 
   li {
     list-style: none outside !important; // Required for default theme compatibility
     padding-left: 0 !important; // Required for default theme compatibility
     margin-left: 0 !important; // Required for default theme compatibility
   }
 }
 
 .woocommerce-message {
   border-top-color: #8fae1b;
 
   &::before {
     content: '\e015';
     color: #8fae1b;
   }
 }
 
 .woocommerce-info {
   border-top-color: #1e85be;
 
   &::before {
     color: #1e85be;
   }
 }
 
 .woocommerce-error {
   border-top-color: darken($primary,2);
 
   &::before {
     content: '\e016';
     color: darken($primary,2);
   }
 }