/**
 * Global styles
 */
 p.demo_store,
 .woocommerce-store-notice {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   margin: 0;
   width: 100%;
   font-size: 1em;
   padding: 1em 0;
   text-align: center;
   background-color: $primary;
   color: $primarytext;
   z-index: 99998;
   box-shadow: 0 1px 1em rgba(0, 0, 0, 0.2);
   display: none;
 
   a {
     color: $primarytext;
     text-decoration: underline;
   }
 }
 
 .screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
     height: 1px;
     overflow: hidden;
     position: absolute !important;
     width: 1px;
     word-wrap: normal !important;
 }
 
 .admin-bar p.demo_store {
   top: 32px;
 }
 
 /**
  * Utility classes
  */
 .clear {
   clear: both;
 }

.classic-control {
  width: 100%;
  padding: 12px 10px;
  margin: 0 0 0;
  font-family: $font-pri;
  letter-spacing: 0;
  line-height: 15px;
  color: up-colors('second');
  outline: none;
  border: 1px solid rgba(29,29,27,0.10);

  @include font(14px);
  @include light();
  @include radius(0);
  @include placeholder {
    font-family: $font-pri;
    letter-spacing: 0;
    line-height: 15px;
    color: up-colors('second');

  }
  margin-bottom: 3px;



  &.wpcf7-not-valid {
    border-color: red;
  }

  &:focus {
    outline: none;
    border-color: rgba(29, 29, 27, 0.31);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

button.classic-btn {

  font-family: $font-pri;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
  float: right;
  width: auto;
  padding: 10px 55px;
  position: relative;
  border-color: transparent;
  z-index: 10;
  @include radius(0);
  @include font(12px);
  @include normal();
  @include transition(all 300ms ease-in-out);

  /* Background: */
  background: up-colors('third');
  /* Veja mais: */
  color: #FFFFFF;
  letter-spacing: 2px;
  text-align: center;
  line-height: 20px;


  &:hover {
    background: up-colors('second');

  }
  &:disabled,
  &.disabled,
  &:disabled[disabled] {
    color: inherit;
    cursor: not-allowed;
    opacity: 0.5;
    padding: 10px 55px;

    &:hover {
      color: inherit;
      background-color: $secondary;
    }
  }
}