.bsnav-mobile {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: 49;
	pointer-events: none;

	.bsnav-mobile-overlay {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: fixed;
		visibility: hidden;
		pointer-events: none;
	}

	.navbar {
		background: up-colors('nav');
		width: 320px;
		padding: 160px 0 15px;
		flex-flow: column;
		justify-content: flex-start;
		top: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		transition: .4s ease-in-out;
		transform: translate3d(320px,0,0);
		overflow: auto;

		&.bsnav-dark { background: up-colors('thi'); }
	}

	@include navbar-nav;
	&.in {
		pointer-events: initial;
		
		.navbar { transform: translate3d(0,0,0); } 
		.bsnav-mobile-overlay {
			visibility: visible;
			pointer-events: initial;
		}
	}

	.nav-item.nav-item-fill > .nav-link {
		padding-left: 10px;
		padding-right: 10px;
	}
}