.navbar-expand-lg .navbar-nav .nav-link,
.navbar-nav .nav-link {
	font-family: up-fonts('fir');
	color: up-colors('thi');
	padding: 20px 30px;
	display: block;
	position: relative;
	transition: .3s;
	text-transform: uppercase;
	cursor: pointer;
	@include font(18px);
	@include bold();
}