.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
	margin-left: -15px;
	margin-right: -15px;
}

.navbar-nav,
.navbar .nav-justified {
	float: none;
}

.text-center .navbar-nav {
	margin: 0;
	display: inline-block;
}