$zindex-fixed: 99;
$zindex-sticky: 99;

.bsnav-sticky {
	left: 0;
	right: 0;
	position: fixed;
	z-index: 99;

	&.bsnav-sticky-slide {
		position: absolute;

		&.sticked {
			position: fixed;
			transform: translate3d(0,-100%,0);
		}

		&.sticked.in {
			transition: transform .4s .2s;
			transform: translate3d(0,0,0);
		}
	}

	&.bsnav-sticky-fade {
		position: absolute;

		&.sticked {
			position: fixed;
			opacity: 0;
			visibility: hidden;
		}

		&.sticked.in {
			transition: opacity .3s .2s;
			opacity: 1;
			visibility: visible;
		}
	}

	&[data-navbar-toggle] {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}
	
	&.navbar-slide {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		transform: translateY(-100%);

		&.in { transform: translateY(0); }
	}

	&.navbar-fade {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;

		&.in {
			visibility: visible;
			opacity: 1;
		}
	}
}